#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    max-width: 100%;
    min-height: 100%;
  }


  .parent1 {
    margin: 50% 50%;
    /* width: 45%; */
    display: flex;
    justify-content: center;
    /* align-items: center;
    flex-direction: row; */
    /* vertical-align: center; */
  }

  .parent3 {
    /* margin: auto auto; */
    
  height:100vh;
  display:flex;
  align-items: center;
  justify-content:center;
  }

  .parent {
    position: fixed;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    text-align: center;
    /* margin-top: 30px; */
    transform: translate(-50%, -50%);
    background: white
  }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(21, 137, 245, 0.897), rgba(99, 154, 170, 0.884) 100%);
  /* background: linear-gradient(45deg, rgba(242, 34, 50, 0.5), rgba(255, 187, 54, 0.6) 100%); */
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.powered-by {
  position: fixed;
  text-align: center;
  justify-content: center;
  bottom: 5%;
  left: 50%;
  color: white;
  font-weight: bold;
  transform: translate(-50%, -50%);
}