<font face = "arial">

  <div *ngIf=!isLandscape()>
    <mat-card-content class="rotate-screen" style="font-weight: bold; background:transparent;">
      <h1>Rotate Device</h1>
      <h1>To Activate Screen</h1>
    </mat-card-content>
  </div>

  <div *ngIf=isLandscape()>

    <div class="infotopright">
        <!-- <mat-card style="background:transparent;"> -->
          <mat-card-content style="font-size: 20px; color: limegreen; font-weight: bold; background:transparent;">
              <label style="font-size: 45px; margin-right: 40px;">{{mode}}</label>
              <i class="fas fa-satellite-dish" style="margin-right: 5px;"></i><label style="margin-right: 40px;">SAT</label>
              <i class="fas fa-signal" style="margin-right: 5px;"></i><label style="margin-right: 40px;">{{signal}}%</label>
              <i class="fas fa-car-battery" style="margin-right: 5px;"></i><label style="margin-right: 40px;"> {{battery}}%</label>
              <i class="far fa-clock" style="margin-right: 5px;"></i><label> time</label>
          </mat-card-content>
        <!-- </mat-card> -->
      
    </div>

    <div class="infobuttom">

      <br/>

      <!-- <mat-card style="background:transparent;"> -->
        <mat-card-content style="color: limegreen; font-weight: bold; background:transparent;">
          <label style="font-size: 20px;">H.</label><label style="font-size: 45px; font-weight: bold;">{{height}}</label><label style="font-size: 20px; margin-right: 40px;">m       </label>
          <label style="font-size: 20px;">D.</label><label style="font-size: 45px; font-weight: bold;">{{height}}</label><label style="font-size: 20px; margin-right: 40px;">m       </label>
          <label style="font-size: 20px;">S.</label><label style="font-size: 45px; font-weight: bold;">{{speed}}</label><label style="font-size: 20px;">km/h</label>
        </mat-card-content>
      <!-- </mat-card> -->
    </div>


    <div style="height: 30%; width: 25%; " class="minimap">
      <!-- <x-map> -->
      <x-map [Options]="_options" [Latitude]="_lat" [Longitude]="_lon"> 
        <x-map-marker *ngFor="let m of markers;"
          [Latitude]="m.lat" 
          [Longitude]="m.lon"
          [IconInfo]="m.iconInfo">
        </x-map-marker>
        <!-- <x-map-marker
          [Latitude]="_lat" 
          [Longitude]="_lon"
          [IconInfo]="_iconInfo">
        </x-map-marker> -->
      </x-map>
    </div>

    <div class="infobuttomright">

      <br/>
      <!-- <mat-card style="background:transparent;"> -->
        <mat-card-content style="font-size: 20px; color: limegreen; font-weight: bold; background:transparent;">
          <i class="fas fa-expand" style="z-index: 9;" (click)="toggleFullScreen()"></i>
        </mat-card-content>
      <!-- </mat-card> -->
    </div>

    <div class="app">
      <div><video #video class="video" autoplay></video></div>
    </div>

  </div>

</font>