<div class="infotopleft">
    <!-- <mat-card style="background:transparent;"> -->
      <mat-card-content style="font-size: 30px; color: limegreen; font-weight: bold; background:transparent;">
        <p>Signal</p>
        <p>Battery</p>
      </mat-card-content>
    <!-- </mat-card> -->
  
</div>

<div class="infoleft">
  <!-- <mat-card style="background:transparent;"> -->
    <mat-card-content style="font-size: 52px; color: limegreen; font-weight: bold; background:transparent;">
      <p>Mode</p>
    </mat-card-content>
  <!-- </mat-card> -->

  <br/>

  <!-- <mat-card style="background:transparent;"> -->
    <mat-card-content style="font-size: 52px; color: limegreen; font-weight: bold; background:transparent;">
      <p>F.Time</p>
    </mat-card-content>
  <!-- </mat-card> -->
</div>

<div class="inforight">

  <br/>

  <!-- <mat-card style="background:transparent;"> -->
    <mat-card-content style="font-size: 52px; color: limegreen; font-weight: bold; background:transparent;">
      <p>Height</p>
      <p>Distance</p>
      <p>Speed</p>
    </mat-card-content>
  <!-- </mat-card> -->
</div>

<div class="app">
  <div><video #video class="video" autoplay></video></div>
</div>

