.app {
    text-align: center;
    color: #2c3e50;
    background-color: #000000;

    /* margin-top: -80px; */

}

.video {
    background-color: #000000;
    object-fit: cover;
    width: 100vw;
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    background: rgb(0, 0, 0);
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    overflow: hidden;
}

.infotopleft {
    position: absolute;
    z-index: 1;

    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    min-height: 100vh;
    left: 15px;
}

.infotopright {
    position: absolute;
    z-index: 1;

    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    min-height: 100vh;
    right: 5%;
}

.infoleft {
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    left: 15px;
}

.infobuttomright {
    position: absolute;
    z-index: 1;

    display: table-footer-group;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    /* min-height: 100vh; */

    bottom: 2%;
    transform: translate(-50%, -50%);
    right: 2%;

}

.rotate-screen {
    position: absolute;
    z-index: 1;

    display: table-footer-group;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    /* min-height: 100vh; */

    bottom: 50%;
    transform: translate(50%, 50%);
    right: 50%;

}

.infobuttom {
    position: absolute;
    z-index: 1;

    display: table-footer-group;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    /* min-height: 100vh; */

    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* right: 15px; */
}
/* 
.inforight {

} */

.minimap {
    position: absolute;
    z-index: 1;

    display: table-footer-group;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    /* min-height: 100vh; */

    bottom: 2%;
    left: 2%;
    /* transform: translate(-50%, -50%); */
    /* right: 15px; */
}