.map-container { height: 100%; }
.map-content { display: block; }
.description { margin-top: 10px; padding: 15px; background-color: bisque; border: 1px solid orange; }

.infoleft {
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    right: 15px;
}

.fpv {
    /* position: absolute; */
    z-index: 1;

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    /* align-content: flex-end; */
    /* min-height: 100vh; */
    /* right: 15px; */
    bottom: 15px;
}

.video {
    background-color: #000000;
    /* object-fit: cover; */
    /* width: 100vw; */
    /*height: 56.25vw;  height:width ratio = 9/16 = .5625  */
    background: rgb(0, 0, 0);
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    /* overflow: hidden; */
}

.quickinfo_headline{
    font-size: 28px; 
    font-weight: bold;
}

.quickinfo_data {
    font-size: 36px;
}