.overlay {
    /* height: 100%; */
    /* width: 100%; */
    position: fixed;
    /* z-index: 2; */
    top: 50%;
    left: 50%;
    background-color: #fff;
    /* overflow-x: hidden; */
    /* transition: 0.5s; */
    text-align: center;
    justify-content:center;
    transform: translate(0%, -50%);


}
