<mat-drawer-container style="height: 95%; width: 100%; ">
  <mat-drawer mode="side" opened style="background-color: lightgray; border: none;">

      <mat-button-toggle-group style="border:none; display: flex; height: inherit;" vertical>
        <mat-button-toggle style="border:none; height: 20%; display: flex; align-items: center;" (click)="setActive('DroneParams')">Drone Parameters</mat-button-toggle>
        <mat-divider></mat-divider>
        <mat-button-toggle style="border:none; height: 20%; display: flex; align-items: center;" (click)="setActive('Calibration')">Calibration</mat-button-toggle>
        <mat-divider></mat-divider>
        <mat-button-toggle style="border:none; height: 20%; display: flex; align-items: center;" (click)="setActive('GCSConfig')">GCS Configuration</mat-button-toggle>
        <mat-divider></mat-divider>
        <mat-button-toggle style="border:none; height: 20%; display: flex; align-items: center;" (click)="setActive('UserConfig')">User Configuration</mat-button-toggle>
        <mat-divider></mat-divider>
        <mat-button-toggle style="border:none; height: 20%; display: flex; align-items: center;" (click)="setActive('ServerConfig')">Agent Configuration</mat-button-toggle>
      </mat-button-toggle-group>
    
  </mat-drawer>


  <mat-drawer-content>
    <drone-params *ngIf="isActive('DroneParams')"></drone-params>
    <user-config *ngIf="isActive('UserConfig')"></user-config>
    <gcs-config-desktop *ngIf="isActive('GCSConfig')"></gcs-config-desktop>
    <calibration-desktop *ngIf="isActive('Calibration')"></calibration-desktop>
    <server-config *ngIf="isActive('ServerConfig')"></server-config>
  </mat-drawer-content>
  
</mat-drawer-container>
