.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fff;
    /* overflow-x: hidden; */
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -5%;
}
