
<div class="overlay" *ngIf="menuOpen">
  <!-- <a (click)="hideMenu()" class="closebtn" id="closeNav">&times;</a> -->
  <div class="overlay-content">
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="hideMenu()" routerLink="dashboard">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="hideMenu()" routerLink="cam">Camera</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="hideMenu()" routerLink="map">Map</a>
      </li>
      <li class="nav-item" *ngIf="!applicationStateService.getIsMobileResolution()">
        <a class="nav-link" routerLink="editor">Editor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="hideMenu()" routerLink="settings">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="hideMenu()" routerLink="logs">Logs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="hideMenu()" routerLink="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="hideMenu()" routerLink="help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="hideMenu()" routerLink="about">About</a>
      </li>
      <mat-divider></mat-divider>
      <li class="nav-item">
        <a class="nav-link" (click)="hideMenu(); logout()" routerLink="/">Logout</a>
      </li>
    </ul>
    <!-- <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item" *ngIf="connected">
        <a class="nav-link" (click)="sync()" >
          <i class="fas fa-sync-alt"></i>
        </a>
      </li>
    </ul> -->
  </links>
  </div>
</div>

<!-- <mat-toolbar style="position: absolute; z-index: 1;"> -->
<!-- <mat-toolbar style="background-color: transparent; position: absolute; z-index: 5; " *ngIf="userService.isLogged() && !isLandscape()"> -->
<mat-toolbar 
  *ngIf="userService.isLogged() && !isRootPath()"  
  style="background-color: transparent; position: absolute; z-index: 5; top: 50%; left: 1%; transform: translate(0%, -50%); width: fit-content;"
>
  <div class="fixed-action-btn" >
    <button mat-fab *ngIf="!menuOpen" color="primary" (click)="openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-fab *ngIf="menuOpen" color="transparent" (click)="hideMenu()">
      X
    </button>
  </div>  
</mat-toolbar>

<div class="fixed-action-btn" style="background-color: transparent; position: absolute; z-index: 5; bottom: 1%; right: 1%;" >
  <button mat-fab color="transparent" (click)="toggleFullScreen()">
    <i class="fas fa-expand" style="z-index: 9;" ></i>
  </button>
</div>