<div class="card-body" style="width: 100%; height: 100%; padding-bottom: 200px;">
    
    <br>
    <h1 class="mycenter">Drone Agent</h1>

    <mat-radio-group
        *ngIf="applicationStateService.getIsMobileResolution() == false"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group mycenter"
        [(ngModel)]="gcsMode">
        <mat-radio-button class="example-radio-button" [value]="'standalone'" style="padding: 10px;">
            Standalone
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" [value]="'remote'" style="padding: 10px;">
            Remote
        </mat-radio-button>
    </mat-radio-group>
    
    <br>
    <mat-divider></mat-divider>
    <br>
    <div *ngIf="gcsMode == 'remote'">
        <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group mycenter"
            [(ngModel)]="proxyDef">
            <mat-radio-button class="example-radio-button" [value]="'manual'" style="padding: 10px;">
                Manual
            </mat-radio-button>
            <mat-radio-button class="example-radio-button" [value]="'scan'" style="padding: 10px;">
                Scan
            </mat-radio-button>
        </mat-radio-group>

        <div *ngIf="proxyDef == 'manual'">
            <div class="md-form mycenter">
                <input mdbInput type="text" [(ngModel)]="proxyAddress" id="droneProxyAddress" class="form-control">
                <label for="droneProxyAddress" class="">IP Address</label>
            </div>
            <div class="md-form mycenter">
                <input mdbInput type="number" [(ngModel)]="proxyPort" id="droneProxyPort" class="form-control">
                <label for="droneProxyPort" class="">Port</label>
            </div>
            <div class="mycenter">
                <button mdbBtn mdbWavesEffect type="button" color="primary" (click)="onUpdate()">Save</button>
            </div>
        </div>

        <div *ngIf="proxyDef == 'scan'">
            <div class="md-form mycenter">
                <input mdbInput type="text" [(ngModel)]="proxyScanSubnet" id="scanSubnet" class="form-control">
                <label for="scanSubnet" class="">Subnet</label>
            </div>
            <div class="md-form mycenter">
                <input mdbInput type="text" [(ngModel)]="proxyScanMask" id="scanMask" class="form-control">
                <label for="scanMask" class="">Mask</label>
            </div>
            <div class="md-form mycenter">
                <input mdbInput type="text" [(ngModel)]="proxyScanPort" id="scanPort" class="form-control">
                <label for="scanPort" class="">Port</label>
            </div>

            <div class="mycenter">
                <button mdbBtn mdbWavesEffect type="button" color="primary" (click)="scan()">Scan</button>
            </div>
            <!-- <a class="card-link mycenter" href="javascript:void(0)" (click)="scan()">Scan</a> -->

            <mat-action-list class="mycenter">
                <button mat-list-item *ngFor="let server of droneServers" [value]="server" (click)="selectScanResults(server)">
                    {{server}}
                </button>
            </mat-action-list>              
        </div>

        <br>
        <p style="text-align: center;">
            <b>Proxy URL</b><br>
            <a class="card-link" [href]="configService.getUrl()">{{configService.getUrl()}}</a>
        </p>
    </div>

    <div *ngIf="gcsMode == 'standalone'">
    <!-- <div> -->
        <mat-grid-list cols="4" rowHeight="200px" style="height: fit-content; margin-bottom: 30px;" gutterSize="10px">

            <div class="mycenter md-form" *ngIf="this.proxyService.isProxyUp() == false">
                <button mdbBtn mdbWavesEffect type="button" *ngIf="!active" color="primary" (click)="activateServer()">Standalone</button>
            </div>

            <mat-grid-tile *ngIf="this.proxyService.isProxyUp() == true" class="card" style="background-color: mediumseagreen;" ><mat-card-content>
                <mat-label class="mycenter"><h2><b>Status</b></h2></mat-label>
                <!-- <br> -->
                <mat-label class="mycenter"><h4>On</h4></mat-label>
            </mat-card-content></mat-grid-tile>

            <mat-grid-tile *ngIf="this.proxyService.isProxyUp() == false" class="card" style="background-color: indianred;" ><mat-card-content>
                <mat-label class="mycenter"><h2><b>Status</b></h2></mat-label>
                <!-- <br> -->
                <mat-label class="mycenter"><h4>Off</h4></mat-label>

                <a class="card-link" href="drone-proxy://dummy">Start Agent</a>
            </mat-card-content></mat-grid-tile>

            <mat-grid-tile class="card"><mat-card-content>
                <mat-label class="mycenter"><h2><b>Uptime</b></h2></mat-label>
                <mat-label class="mycenter"><h4>{{this.proxyService.proxyUpTime}}</h4></mat-label>
            </mat-card-content></mat-grid-tile>
            
            <mat-grid-tile class="card"><mat-card-content>
                <mat-label class="mycenter"><h2><b>Version</b></h2></mat-label>
                <mat-label class="mycenter"><h4>{{this.proxyService.proxyVersion}}</h4></mat-label>
            </mat-card-content></mat-grid-tile>
            
            <mat-grid-tile class="card"><mat-card-content>
                <mat-label class="mycenter"><h2><b>Connect Port</b></h2></mat-label>
                <ul>
                    <li><h4><b>Name: </b>{{this.proxyService.getPortName()}}</h4></li>
                    <li><h4><b>Baud Rate: </b>{{this.proxyService.getBaudRate()}}</h4></li>
                </ul>
            </mat-card-content></mat-grid-tile>

        </mat-grid-list>
        
        <mat-grid-list cols="2"  gutterSize="10px">
            <mat-grid-tile class="card"><mat-card-content>
                <mat-label class="mycenter"><h2><b>Server Addresses</b></h2></mat-label><br/>
                <ul>
                    <li *ngFor="let item of this.proxyService.proxyAddresses;">
                        <h4>{{item}}</h4>
                    </li>
                </ul>
            </mat-card-content></mat-grid-tile>

            <mat-grid-tile class="card"><mat-card-content>
                <mat-label class="mycenter"><h2><b>Connected Clients</b></h2></mat-label><br/>
                <ul>
                    <li *ngFor="let item of this.proxyService.proxyConnectedUsers;">
                        <h4>{{item}}</h4>
                    </li>
                </ul>
            </mat-card-content></mat-grid-tile>

        </mat-grid-list>

    </div>
    
    <div *ngIf="gcsMode">
        <br>
        <mat-divider></mat-divider>
        <br>
        <p style="text-align: center; padding-bottom: 200px;">
            Getting CA Certificate: <a class="card-link" href="assets/rootCA.crt">Download</a><br>
            <span style="color: indianred;">Please note, scanning the devices in the network will not work if the agent certificate is not approved, 
                please make sure you download the certificate and add it to the approved list</span><br>
            <i>(Root CA issuer can be added to the autherization CA's list in your browser to make it accept the backend engine of WebDroneGCS)</i>
        </p>
    </div>

    <div *ngIf="!gcsMode" class="mycenter" style="text-align: center;">
        Activate the drone server on your local machine will make the specific device to work as a drone server,<br>
        Using the same machine to fly the drone is also called "Standalone" approach.<br>
        A drone server means that the current device will have radio communication with the drone.<br>
        You can always active this device as drone server and connet to it in different device by providing this device IP.
    </div>
</div>

