<div mdbModal class="overlay" style="overflow-y: scroll; height: 100%;">
    <div style="position: absolute;" ><span class="material-icons background-symbol" style="font-size: 52; transform: scale(60, 60);">settings</span></div>
    
      <div class="dash-row" style="padding-right: 10px; padding-left: 10px;">
  
        <div class="panel-sm">
            <mdb-card class="dashcard">
                <mdb-card-body>
                    <mdb-card-title>
                        <h4>Proxy Settings</h4>
                    </mdb-card-title>
                    <mat-radio-group
                        aria-labelledby="example-radio-group-label"
                        class="example-radio-group"
                        [(ngModel)]="proxyDef">
                        <mat-radio-button class="example-radio-button" [value]="'manual'">
                            Manual
                        </mat-radio-button>
                        <mat-radio-button class="example-radio-button" [value]="'scan'">
                            Scan
                        </mat-radio-button>
                        <mat-radio-button class="example-radio-button" [value]="'local'">
                            Localhost
                        </mat-radio-button>
                    </mat-radio-group>

                    <div *ngIf="proxyDef == 'manual'">
                        <div class="md-form">
                            <input mdbInput type="text" [(ngModel)]="proxyAddress" id="droneProxyAddress" class="form-control">
                            <label for="droneProxyAddress" class="">IP Address</label>
                        </div>
                        <div class="md-form">
                            <input mdbInput type="number" [(ngModel)]="proxyPort" id="droneProxyPort" class="form-control">
                            <label for="droneProxyPort" class="">Port</label>
                        </div>
                    </div>

                    <div *ngIf="proxyDef == 'scan'">
                        <div class="md-form">
                            <input mdbInput type="text" [(ngModel)]="proxyScanSubnet" id="scanSubnet" class="form-control">
                            <label for="scanSubnet" class="">Subnet</label>
                        </div>
                        <div class="md-form">
                            <input mdbInput type="text" [(ngModel)]="proxyScanMask" id="scanMask" class="form-control">
                            <label for="scanMask" class="">Mask</label>
                        </div>

                        <a class="card-link" href="javascript:void(0)" (click)="scan()">Scan</a>


                        <mat-action-list>
                            <button mat-list-item *ngFor="let server of droneServers" [value]="server" (click)="selectScanResults(server)">
                                {{server}}
                            </button>
                        </mat-action-list>
                          
                    </div>

                    <div *ngIf="proxyDef == 'local'">
                        Go to activate server
                    </div>

                    <mdb-card-text>Proxy URL: <a class="card-link" [href]="configService.getUrl()">{{configService.getUrl()}}</a></mdb-card-text>
                    <!-- <mdb-card-text>Local Proxy: <a class="card-link" href="drone-proxy://dummy">Start Engine</a></mdb-card-text> -->
                    <mdb-card-text>
                        Getting CA Certificate: <a class="card-link" href="assets/rootCA.crt">Download</a><br>
                        * Root CA issuer can be add to the "autherizor" CA in your browser to make it accept the backend engine of WebDroneGCS
                    </mdb-card-text>
                </mdb-card-body>
                <mdb-card-footer style="background-color: transparent;">
                    <mdb-icon far icon="save" size="2x" (click)="onUpdate()" style="align-content: center;"></mdb-icon>
                </mdb-card-footer>
                <!-- <button mdbBtn type="button" color="primary" (click)="onUpdate()" mdbWavesEffect>Update</button> -->
            </mdb-card>
        </div>

        <div class="panel-sm">
            <mdb-card class="dashcard">
                <mdb-card-body>
                    <mdb-card-title>
                        <h4>General</h4>
                    </mdb-card-title>
                    <div class="md-form">
                        <input #gcsid mdbInput type="number" id="gcsid" class="form-control" [value]="droneService.gcsid">
                        <label for="gcsid" class="">GCS ID</label>
                    </div>
                    <div class="md-form">
                        <input #heartbeatInterval mdbInput type="number" id="heartbeatInterval" class="form-control" [value]="droneService.heartbeatinterval">
                        <label for="heartbeatInterval" class="">Heart Beat Interval (Sec)</label>
                    </div>
                    <div class="md-form">
                        <!-- <mdb-checkbox [value]="droneService.refreshparam" >Fetch Parameter On Connect</mdb-checkbox> -->
                        <mat-checkbox [(ngModel)]="droneService.refreshparam">Fetch Parameter On Connect</mat-checkbox>
                    </div>
                </mdb-card-body>
                <mdb-card-footer style="background-color: transparent;">
                    <mdb-icon far icon="save" size="2x" (click)="updateStreamRates()" style="align-content: center;"></mdb-icon>
                </mdb-card-footer>
            </mdb-card>
        </div>

        <div class="panel-sm">
            <mdb-card class="dashcard">
                <mdb-card-body>
                    <mdb-card-title>
                        <h4>Telemetry Rates</h4>
                    </mdb-card-title>
                    <div class="md-form">
                        <div class="md-form">
                            <input mdbInput type="number" id="modeStatus" class="form-control" [(ngModel)]="modeStatus">
                            <label for="modeStatus" class="">Mode (Seconds)</label>
                        </div>
                        <div class="md-form">
                            <input mdbInput type="number" id="alt" class="form-control" [(ngModel)]="alt">
                            <label for="alt" class="">Altitude (Seconds)</label>
                        </div>
                        <!-- <div class="md-form">
                            <input #alt mdbInput type="number" id="alt" class="form-control" [(ngModel)]="alt">
                            <label for="alt" class="">Altitude (Seconds)</label>
                        </div> -->
                        <div class="md-form">
                            <input mdbInput type="number" id="sensors" class="form-control" [(ngModel)]="sensors">
                            <label for="sensors" class="">Sensors (Seconds)</label>
                        </div>
                        <div class="md-form">
                            <input mdbInput type="number" id="pos" class="form-control" [(ngModel)]="pos">
                            <label for="pos" class="">Position (Seconds)</label>
                        </div>
                        <div class="md-form">
                            <input mdbInput type="number" id="rc" class="form-control" [(ngModel)]="rc">
                            <label for="rc" class="">RC (Seconds)</label>
                        </div>
                        <!-- <div class="md-form">
                            <input #sensors mdbInput type="number" id="sensors" class="form-control" [(ngModel)]="sensors">
                            <label for="sensors" class="">Sensors (Seconds)</label>
                        </div> -->
                        <div class="md-form">
                            <input mdbInput type="number" id="controller" class="form-control" [(ngModel)]="controller">
                            <label for="controller" class="">Controller (Seconds)</label>
                        </div>
                    </div>
                </mdb-card-body>
                <mdb-card-footer style="background-color: transparent;">
                    <mdb-icon far icon="save" size="2x" (click)="updateStreamRates()" style="align-content: center;"></mdb-icon>
                </mdb-card-footer>
            </mdb-card>
        </div>

    </div>
</div>