<div mdbModal class="overlay" style="overflow-y: scroll; height: 100%;">
    <!-- <div class="container"> -->
    <!-- <div > -->
      <div class="dash-row">
  
        <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>ESC (Motors)</h4>
                </mdb-card-title>
                <mdb-card-text>1. Disconnect the battery and USB cable so the autopilot powers down</mdb-card-text>
                <mdb-card-text>2. Connect the battery</mdb-card-text>
                <mdb-card-text>3. The arming tone will be played (if the vehicle has a buzzer attached)</mdb-card-text>
                <mdb-card-text>4. If using a autopilot with a safety button (like the Pixhawk) press it until it displays solid red</mdb-card-text>
                <mdb-card-text>5. You will hear a musical tone then two beeps</mdb-card-text>
                <mdb-card-text>6. A few seconds later you should hear a number of beeps (one for each battery cell you’re using) and finally a single long beep indicating the end points have been set and the ESC is calibrated</mdb-card-text>
                <mdb-card-text>7. Disconnect the battery and power up again normally and test as described below</mdb-card-text>
                <mdb-card-text>
                    <button mat-stroked-button color="primary" (click)="droneService.startEscCalibrate()">Start</button>
                </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
  
        <div class="panel-md">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>Flight Mode</h4>
                </mdb-card-title>
                <mdb-card-text>* Channels 1-4 are occupied for flight control</mdb-card-text>
                <mdb-card-text>** Channel 5 control the flights mode</mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 1 </mat-label>
                <label *ngIf="activeMode == 1" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode1.mode">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode1.simple">Simple Mode</mat-checkbox>
                <mat-checkbox [value]="flightMode1.superSimple">Super Simple Mode</mat-checkbox>
              </mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 2 </mat-label>
                <label *ngIf="activeMode == 2" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode2.mode">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode2.simple">Simple Mode</mat-checkbox>
                <mat-checkbox [value]="flightMode2.superSimple">Super Simple Mode</mat-checkbox>
              </mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 3 </mat-label>
                <label *ngIf="activeMode == 3" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode3.mode">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode3.simple">Simple Mode</mat-checkbox>
                <mat-checkbox [value]="flightMode3.superSimple">Super Simple Mode</mat-checkbox>
              </mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 4 </mat-label>
                <label *ngIf="activeMode == 4" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode4.mode">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode4.simple">Simple Mode</mat-checkbox>
                <mat-checkbox [value]="flightMode4.superSimple">Super Simple Mode</mat-checkbox>
              </mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 5</mat-label>
                <label *ngIf="activeMode == 5" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode5.mode">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode5.simple">Simple Mode</mat-checkbox>
                <mat-checkbox [value]="flightMode5.superSimple">Super Simple Mode</mat-checkbox>
              </mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 6</mat-label>
                <label *ngIf="activeMode == 6" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode6.mode">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode6.simple">Simple Mode</mat-checkbox>
                <!-- <mat-checkbox [(ngModel)]="flightMode6.superSimple">Super Simple Mode</mat-checkbox> -->
                <mat-checkbox [value]="flightMode6.superSimple">Super Simple Mode</mat-checkbox>
              </mdb-card-text>

              <mdb-card-text>
                <mat-label>Channel 7</mat-label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="channel7">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of commandList" [value]="x">{{x}}</mat-option>
                </mat-select>
              </mdb-card-text>

              <mdb-card-text>
                <mat-label>Channel 8</mat-label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="channel8">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of commandList" [value]="x">{{x}}</mat-option>
                </mat-select>
              </mdb-card-text>
            </mdb-card-body>        
          </mdb-card>
        </div>
      
        <div class="panel-md">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>Channels</h4>
                </mdb-card-title>
                <mdb-card-text>s</mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
  
        <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                  <h4>Accelerometer</h4>
                </mdb-card-title>
                <mdb-card-text>
                      <button mat-stroked-button color="primary" (click)="startLevelCalibrate()">Calibrate Level</button>
                      {{calibrationLevelMessege}}
                  </mdb-card-text>
                  <mdb-card-text>
                      <button mat-stroked-button color="primary" (click)="startGyroCalibrate()">Calibrate Gyro</button>
                      {{calibrationGyroMessege}}
                  </mdb-card-text>
              </mdb-card-body>
          </mdb-card>
        </div>
  
        <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>123</h4>
                </mdb-card-title>
                <mdb-card-text>s</mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
  
        <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>456</h4>
                </mdb-card-title>
                <mdb-card-text>s</mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
        
        <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>789</h4>
                </mdb-card-title>
                <mdb-card-text>s</mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
  
      </div>
  
  </div>