<div mdbModal class="overlay" style="overflow-y: scroll; height: 100%;">
    <div style="position: fixed;" ><span class="material-icons background-symbol" style="font-size: 52; transform: scale(60, 60);">settings</span></div>
    <!-- <div class="container"> -->
    <!-- <div > -->
      <div class="dash-row">
  
        <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>ESC (Motors)</h4>
                </mdb-card-title>
                <mdb-card-text>1. Disconnect the battery and USB cable so the autopilot powers down</mdb-card-text>
                <mdb-card-text>2. Connect the battery</mdb-card-text>
                <mdb-card-text>3. The arming tone will be played (if the vehicle has a buzzer attached)</mdb-card-text>
                <mdb-card-text>4. If using a autopilot with a safety button (like the Pixhawk) press it until it displays solid red</mdb-card-text>
                <mdb-card-text>5. You will hear a musical tone then two beeps</mdb-card-text>
                <mdb-card-text>6. A few seconds later you should hear a number of beeps (one for each battery cell you’re using) and finally a single long beep indicating the end points have been set and the ESC is calibrated</mdb-card-text>
                <mdb-card-text>7. Disconnect the battery and power up again normally and test as described below</mdb-card-text>
                <mdb-card-text>
                    <button mat-stroked-button color="primary" (click)="droneService.startEscCalibrate()">Start</button>
                </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
  
        <div class="panel-md">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>Flight Mode</h4>
                </mdb-card-title>
                <mdb-card-text>* Channels 1-4 are occupied for flight control</mdb-card-text>
                <mdb-card-text>** Channel 5 control the flights mode</mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 1 </mat-label>
                <label *ngIf="activeMode == 1" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode1.mode" (selectionChange)="updateSelection(flightMode1, 'mode' ,$event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode1.simple" (change)="updateSelection(flightMode1, 'simple', $event.checked)">Simple Mode</mat-checkbox>
                <mat-checkbox [value]="flightMode1.superSimple" (change)="updateSelection(flightMode1, 'superSimple', $event.checked)">Super Simple Mode</mat-checkbox>
              </mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 2 </mat-label>
                <label *ngIf="activeMode == 2" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode2.mode" (selectionChange)="updateSelection(flightMode2, 'mode' ,$event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode2.simple" (change)="updateSelection(flightMode2, 'simple', $event.checked)">Simple Mode</mat-checkbox>
                <mat-checkbox [value]="flightMode2.superSimple" (change)="updateSelection(flightMode2, 'superSimple', $event.checked)">Super Simple Mode</mat-checkbox>
              </mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 3 </mat-label>
                <label *ngIf="activeMode == 3" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode3.mode" (selectionChange)="updateSelection(flightMode3, 'mode' ,$event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode3.simple" (change)="updateSelection(flightMode3, 'simple', $event.checked)">Simple Mode</mat-checkbox>
                <mat-checkbox [value]="flightMode3.superSimple" (change)="updateSelection(flightMode3, 'superSimple', $event.checked)">Super Simple Mode</mat-checkbox>
              </mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 4 </mat-label>
                <label *ngIf="activeMode == 4" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode4.mode" (selectionChange)="updateSelection(flightMode4, 'mode' ,$event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode4.simple" (change)="updateSelection(flightMode4, 'simple', $event.checked)">Simple Mode</mat-checkbox>
                <mat-checkbox [value]="flightMode4.superSimple" (change)="updateSelection(flightMode4, 'superSimple', $event.checked)">Super Simple Mode</mat-checkbox>
              </mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 5</mat-label>
                <label *ngIf="activeMode == 5" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode5.mode" (selectionChange)="updateSelection(flightMode5, 'mode' ,$event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode5.simple" (change)="updateSelection(flightMode5, 'simple', $event.checked)">Simple Mode</mat-checkbox>
                <mat-checkbox [value]="flightMode5.superSimple" (change)="updateSelection(flightMode5, 'superSimple', $event.checked)">Super Simple Mode</mat-checkbox>
              </mdb-card-text>
              <mdb-card-text>
                <mat-label>Mode 6</mat-label>
                <label *ngIf="activeMode == 6" style="font-weight: bold; color: limegreen;">(Active)</label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="flightMode6.mode" (selectionChange)="updateSelection(flightMode6, 'mode' ,$event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of modesList" [value]="x">{{x}}</mat-option>
                </mat-select>
                <mat-checkbox [value]="flightMode6.simple" (change)="updateSelection(flightMode6, 'simple', $event.checked)">Simple Mode</mat-checkbox>
                <mat-checkbox [value]="flightMode6.superSimple" (change)="updateSelection(flightMode6, 'superSimple', $event.checked)">Super Simple Mode</mat-checkbox>
              </mdb-card-text>

              <mdb-card-text>
                <mat-label>Channel 6</mat-label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="channel6.tune" (selectionChange)="updateSelection(channel6, 'tune' ,$event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of tuneList" [value]="x">{{x}}</mat-option>
                </mat-select>

                <mat-form-field>
                    <mat-label>Min</mat-label>
                    <input matInput type="number" [value]="channel6.min" step=".01">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Max</mat-label>
                    <input matInput type="number" [value]="channel6.max" step=".01">
                </mat-form-field>
              </mdb-card-text>

              <mdb-card-text>
                <mat-label>Channel 7</mat-label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="channel7.cmd" (selectionChange)="updateSelection(channel7, 'cmd' ,$event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of commandList" [value]="x">{{x}}</mat-option>
                </mat-select>
              </mdb-card-text>

              <mdb-card-text>
                <mat-label>Channel 8</mat-label>
                <mat-select [disabled]="!proxyService.isProxyConnected()" [value]="channel8.cmd" (selectionChange)="updateSelection(channel8, 'cmd' ,$event.value)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let x of commandList" [value]="x">{{x}}</mat-option>
                </mat-select>
              </mdb-card-text>
            </mdb-card-body>        
          </mdb-card>
        </div>
      
        <div class="panel-md">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>Channels</h4>
                </mdb-card-title>
                <mdb-card-text>
                    Channel 1 - {{ch[0]}} PWM - Roll
                    <input type="range" disabled class="custom-range" min="800" max="2200" [value]="ch[0]">
                </mdb-card-text>
                <mdb-card-text>
                    Channel 2 - {{ch[1]}} PWM - Pitch
                    <input type="range" disabled class="custom-range" min="800" max="2200" [value]="ch[1]">
                </mdb-card-text>
                <mdb-card-text>
                    Channel 3 - {{ch[2]}} PWM - Throttle
                    <input type="range" disabled class="custom-range" min="800" max="2200" [value]="ch[2]">
                </mdb-card-text>
                <mdb-card-text>
                    Channel 4 - {{ch[3]}} PWM - Yaw
                    <input type="range" disabled class="custom-range" min="800" max="2200" [value]="ch[3]">
                </mdb-card-text>
                <mdb-card-text>
                    Channel 5 - {{ch[4]}} PWM
                    <input type="range" disabled class="custom-range" min="800" max="2200" [value]="ch[4]">
                </mdb-card-text>
                <mdb-card-text>
                    Channel 6 - {{ch[5]}} PWM
                    <input type="range" disabled class="custom-range" min="800" max="2200" [value]="ch[5]">
                </mdb-card-text>
                <mdb-card-text>
                    Channel 7 - {{ch[6]}} PWM
                    <input type="range" disabled class="custom-range" min="800" max="2200" [value]="ch[6]">
                </mdb-card-text>
                <mdb-card-text>
                    Channel 8 - {{ch[7]}} PWM
                    <input type="range" disabled class="custom-range" min="800" max="2200" [value]="ch[7]">
                </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
  
        <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                  <h4>Accelerometer</h4>
                </mdb-card-title>
                <mdb-card-text>
                      <button mat-stroked-button color="primary" (click)="startLevelCalibrate()">Calibrate Level</button>
                      {{calibrationLevelMessege}}
                  </mdb-card-text>
                  <mdb-card-text>
                      <button mat-stroked-button color="primary" (click)="startGyroCalibrate()">Calibrate Gyro</button>
                      {{calibrationGyroMessege}}
                  </mdb-card-text>
              </mdb-card-body>
          </mdb-card>
        </div>
  
        <!-- <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>123</h4>
                </mdb-card-title>
                <mdb-card-text>s</mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
  
        <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>456</h4>
                </mdb-card-title>
                <mdb-card-text>s</mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
        
        <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
                <mdb-card-title>
                    <h4>789</h4>
                </mdb-card-title>
                <mdb-card-text>s</mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>
   -->
      </div>
  
  </div>