
  <!-- <div class="col-md-12" >
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Event Logs</th>
        </tr>
      </thead>
      <tbody *ngFor="let event of events" >
        <tr><td>{{event}}</td></tr>
      </tbody>
    </table>
  </div> -->


<mat-drawer-container style="height: 100%; width: 100%; ">
  <mat-drawer mode="side" >
    
  </mat-drawer>


  <mat-drawer-content>
    <div class="col-md-12" >

      <div>
            <label>Events</label>
            <mat-select multiple (selectionChange)="callType($event.value)">
              <mat-option [value]="'all'" (change)="markAll()">All</mat-option>
              <mat-optgroup *ngFor="let group of eventTypes" [label]="group.category">
                <mat-option *ngFor="let item of group.items" [value]="item.name" (change)="callType(t.value)">
                    {{item.name}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
      </div>

      <table class="table table-striped">
        <tr>
          <th class="text-center">Date</th>
          <th class="text-center">Level</th>
          <th class="text-center">Type</th>
          <th class="text-center">Message</th>
          <!-- <th class="text-center">Source</th> -->
        </tr>
        <!-- <tbody *ngFor="let event of events" >
          <tr><td>{{event}}</td></tr>
        </tbody> -->
        <tr *ngFor="let event of filteredResults">
          <td>
            <span>{{ event.date | date:'dd/MM/yyyy HH:mm:ss'}}</span>
          </td>
          <td>
            <mdb-icon fas icon="info" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>
          </td>
          <td>
            <span>{{event.type}}</span>
          </td>
          <td>
            <span>{{event.message}}</span>
          </td>
        </tr>
      </table>
    </div>
  </mat-drawer-content>
  
</mat-drawer-container>