<div style="height: 100%; width: 100%; ">
  <x-map>
  </x-map>
</div>  


<div mdbModal #frame="mdbModal" class="modal fade bottom modal-scrolling" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true, show: !proxyService.isProxyUp()}"
  >
  <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <!-- <h2>
            <span class="badge">Warning</span>
          </h2> -->
          <p class="pt-3 mx-4">Failed to find drone proxy service, make sure it activated or download it</p>

          <a type="button" mdbBtn color="success" class="waves-light" mdbWavesEffect 
          href="https://raw.githubusercontent.com/taljmars/WebDroneGCS/master/proxy/Desktop/DroneConnector/ClientInstallation/Linux/DroneProxy-linux.tar">Download
            <mdb-icon fas icon="book" class="ml-1"></mdb-icon>
          </a>
          <a type="button" mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect
            data-dismiss="modal" (click)="frame.hide()">Ignore</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>