<div style="height: 100%; width: 100%; ">
  <div class="container">
    <div class="row" style="padding: 20px">

      <div class="col-12 col-lg-8">
        <serial-stat></serial-stat>
      </div>

      <div class="col-6 col-lg-4">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Panel title 2</h4>
            </mdb-card-title>
            <mdb-card-text>Some quick example text 
              content.</mdb-card-text>
            <div class="flex-row">
              <a class="card-link">Card link</a>
              <a class="card-link">Another link</a>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>

    </div>

    <div class="row" style="padding: 20px">
    
      <div class="col-6 col-sm-4">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Panel title 3</h4>
            </mdb-card-title>
            <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
              content.</mdb-card-text>
            <div class="flex-row">
              <a class="card-link">Card link</a>
              <a class="card-link">Another link</a>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-6 col-sm-4">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Panel title 4</h4>
            </mdb-card-title>
            <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
              content.</mdb-card-text>
            <div class="flex-row">
              <a class="card-link">Card link</a>
              <a class="card-link">Another link</a>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
      
      <div class="col-6 col-sm-4"><mdb-card>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Panel title 5</h4>
          </mdb-card-title>
          <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
            content.</mdb-card-text>
          <div class="flex-row">
            <a class="card-link">Card link</a>
            <a class="card-link">Another link</a>
          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  </div>
</div>  


<div mdbModal #frame="mdbModal" class="modal fade bottom modal-scrolling" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true, show: !proxyService.isProxyUp()}"
  >
  <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <!-- <h2>
            <span class="badge">Warning</span>
          </h2> -->
          <p class="pt-3 mx-4">Failed to find drone proxy service, make sure it activated or download it</p>

          <a type="button" mdbBtn color="success" class="waves-light" mdbWavesEffect 
          href="https://raw.githubusercontent.com/taljmars/WebDroneGCS/master/proxy/Desktop/DroneConnector/ClientInstallation/Linux/DroneProxy-linux.tar">Download
            <mdb-icon fas icon="book" class="ml-1"></mdb-icon>
          </a>
          <a type="button" mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect
            data-dismiss="modal" (click)="frame.hide()">Ignore</a>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>