<div mdbModal class="overlay" style="overflow-y: scroll; height: 100%;">
  <!-- <div class="container"> -->
  <!-- <div > -->
    <div class="dash-row">

      <div class="panel-sm">
        <!-- <mat-card class="dashcard"> -->
            <!-- <mat-card-header>
                <mat-card-title>Drone Info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <mdb-card-text><b>Drone Type:</b> {{droneService.droneType}}</mdb-card-text>
                  <mdb-card-text><b>Firmware Type:</b> {{droneService.firmwareType}}</mdb-card-text>
                  <mdb-card-text><b>Firmware Version:</b> {{droneService.firmwareVersion}}</mdb-card-text>
              </mat-card-content>
              <mat-card-actions>
                  <div class="flex-row">
                    <a class="card-link" href="javascript:void(0)" (click)="refreshParams()" >Refresh</a>
                    <mat-progress-bar *ngIf="paramReceived != 100" value={{paramReceived}}></mat-progress-bar>
                  </div>
              </mat-card-actions>
          </mat-card> -->
        <mdb-card class="dashcard">
          <mdb-card-body>
            <mdb-card-title>
              <h4>Drone Info</h4>
            </mdb-card-title>
            <mdb-card-text><b>Drone Type:</b> {{droneService.droneType}}</mdb-card-text>
            <mdb-card-text><b>Firmware Type:</b> {{droneService.firmwareType}}</mdb-card-text>
            <mdb-card-text><b>Firmware Version:</b> {{droneService.firmwareVersion}}</mdb-card-text>
            <div class="flex-row">
              <a class="card-link" href="javascript:void(0)" (click)="refreshParams()" >Refresh</a>
              <mat-progress-bar *ngIf="paramReceived != 100" value={{paramReceived}}></mat-progress-bar>
            </div>
          </mdb-card-body>
        </mdb-card>
        
      </div>

      <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
              <mdb-card-title>
                <h4>User Info</h4>
              </mdb-card-title>
              <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
                content.</mdb-card-text>
              <div class="flex-row">
                <a class="card-link">Card link</a>
                <a class="card-link">Another link</a>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>

      <div class="panel-sm">
          <mdb-card class="dashcard">
            <mdb-card-body>
              <mdb-card-title>
                <h4>Proxy</h4>
              </mdb-card-title>
              <mdb-card-text><b>Version: </b>{{proxyService.proxyVersion}}</mdb-card-text>
              <mdb-card-text><b>Uptime: </b>{{proxyService.proxyUpTime}}</mdb-card-text>
              <mdb-card-text><b>Proxy Address: </b><br/>
                  <ul>
                      <li *ngFor="let item of proxyService.proxyAddresses;">
                          {{item}}
                      </li>
                  </ul>
              </mdb-card-text>
              <div class="flex-row">
                <a class="card-link" *ngIf="isWindows()" href="https://raw.githubusercontent.com/taljmars/WebDroneGCS/master/proxy/Desktop/DroneConnector/ClientInstallation/Windows/DroneProxy-win.zip">Get Latest Agent</a>
                <a class="card-link" *ngIf="isLinux()" href="https://raw.githubusercontent.com/taljmars/WebDroneGCS/master/proxy/Desktop/DroneConnector/ClientInstallation/Linux/DroneProxy-linux.tar">Get Latest Agent</a>
              </div>
            </mdb-card-body>
          </mdb-card>
        </div>

      <!-- <div class="panel-sm">
        <mdb-card class="dashcard">
          <mdb-card-body>
            <div style="height: 100%; width: 100%; " class="minimap" *ngIf="!infoHide">
              <x-map [Options]="_options" [Latitude]="_lat" [Longitude]="_lon"> 
                <x-map-marker *ngFor="let m of markers;"
                  [Latitude]="m.lat" 
                  [Longitude]="m.lon"
                  [IconInfo]="m.iconInfo">
                </x-map-marker>
              </x-map>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="panel-sm">
        <mdb-card class="dashcard">
          <mdb-card-body>
            <cam-view [cameraOnly]="true" [infoHide]="true" style="height: 90; width: 90%; "></cam-view>
          </mdb-card-body>
        </mdb-card>
      </div> -->

      <div class="panel-md">
        <mdb-card class="dashcard">
          <mdb-card-body>
            <mdb-card-title>
              <h4>Connection Statistics</h4>
            </mdb-card-title>
            <mdb-card-text>
              <div class="flex-row">
                Port Name: <a class="card-link" href="javascript:void(0)" (click)="openSerialDialog()">{{getPortName()}}</a>, 
                <a class="card-link">Baud Rate: {{getBaudRate()}}</a>
              </div>
            </mdb-card-text>
            <mdb-card-text>
              <serial-stat></serial-stat>
            </mdb-card-text>
          </mdb-card-body>        
        </mdb-card>
      </div>

    <!-- </div> -->

    <!-- <div class="dash-row"> -->

      <div class="panel-sm">
        <mdb-card class="dashcard">
          <mdb-card-body>
            <serial-packets-pie></serial-packets-pie>
          </mdb-card-body>
        </mdb-card>
      </div>
  
      <div class="panel-md">
        <mdb-card class="dashcard">
          <mdb-card-body>
            <serial-chart></serial-chart>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="panel-sm">
        <mdb-card class="dashcard">
          <mdb-card-body>
            <mdb-card-title>
              <h4>Flights Summary</h4>
            </mdb-card-title>
            <mdb-card-text>Last Flight: 0</mdb-card-text>
            <mdb-card-text>Flight Amount: 0</mdb-card-text>
            <mdb-card-text>Total Distance: 0</mdb-card-text>
            <mdb-card-text>Total Flight Time: 0</mdb-card-text>
            <mdb-card-text>Speed Record: 0</mdb-card-text>
            <mdb-card-text>Height Record: 0</mdb-card-text>
            <mdb-card-text>Distance Record: 0</mdb-card-text>
            <mdb-card-text>Flight Duration Record: 0</mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="panel-lg" *ngIf="isStandaloneSupported()">
        <mdb-card class="dashcard">
          <mdb-card-body>
            <mdb-card-title>
              <h4>Status</h4>
            </mdb-card-title>
            <status-map></status-map>
          </mdb-card-body>
        </mdb-card>
      </div>

    </div>

</div>  

<!-- show: proxyService.isProxyUp() == false -->
<div *ngIf="isRouteFromLogin() && !proxyService.isProxyUp()" mdbModal #frame="mdbModal" class="modal fade bottom modal-scrolling" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="false" [config]="{backdrop: false, ignoreBackdropClick: true, show: true}"
  >
  <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">

    <div class="modal-content">

      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">

          <p *ngIf="!isStandaloneSupported()" class="pt-3 mx-4">Failed to find drone proxy service, make sure you are connected to external server</p>
          <p *ngIf="isStandaloneSupported()" class="pt-3 mx-4">Failed to find drone proxy service, make sure it activated or download it</p>

          <a *ngIf="isWindows() && isStandaloneSupported()" type="button" mdbBtn color="success" class="waves-light" mdbWavesEffect 
          href="https://raw.githubusercontent.com/taljmars/WebDroneGCS/master/proxy/Desktop/DroneConnector/ClientInstallation/Windows/DroneProxy-win.zip">Download
            <mdb-icon fas icon="book" class="ml-1"></mdb-icon>
          </a>
          <a *ngIf="isLinux() && isStandaloneSupported()" type="button" mdbBtn color="success" class="waves-light" mdbWavesEffect 
            href="https://raw.githubusercontent.com/taljmars/WebDroneGCS/master/proxy/Desktop/DroneConnector/ClientInstallation/Linux/DroneProxy-linux.tar">Download
              <mdb-icon fas icon="book" class="ml-1"></mdb-icon>
          </a>
          <a type="button" mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect
            data-dismiss="modal" (click)="hide(frame)">Ignore</a>
          <a *ngIf="isStandaloneSupported()" mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect
            data-dismiss="modal" href="drone-proxy://dummy">Run</a>
          <a type="button" mdbBtn color="success" color="info" outline="true" class="waves-light" mdbWavesEffect
            data-dismiss="modal" (click)="goToSettings()">Settings</a>  
            
        </div>
      </div>